<div
  class="welcome-image flex justify-center items-center flex-col h-full px-6 py-8 text-center bg-gradient-to-r from-blue-500 to-purple-600"
>
  <div class="font-semibold text-gray-600 max-w-3xl">
    <p
      class="text-4xl md:text-2xl font-extrabold bg-opacity-60 bg-white rounded-lg p-4 shadow-lg"
    >
      Find the Best Jobs in Morocco
    </p>
    <p
      class="text-lg md:text-sm mt-4 font-medium bg-opacity-60 bg-white rounded-lg p-3 shadow-md"
    >
      Searching for career opportunities? NextHire is here to help you find
      the perfect job in Morocco.
    </p>
  </div>
</div>
