<div class="bg-[#031431] py-4 text-white w-full">
  <div
    class="max-w-7xl mx-auto flex flex-col sm:flex-row justify-center items-center pl-2 sm:px-6 lg:px-8"
  >
    <p class="text-sm text-center sm:text-left mr-3 font-bold md:font-normal">
      Copy right © 2025 AJINEKHADMO All Rights Reserved.
    </p>
    <div class="flex flex-row items-center gap-4 sm:gap-6 mt-4 sm:mt-0">
      <p class="text-lg md:text-sm">Follow Us</p>
      <div class="flex gap-4">
        <i class="fa fa-facebook text-3xl"></i>
        <i class="fa fa-twitter text-2xl"></i>
        <i class="fa fa-linkedin text-2xl"></i>
      </div>
    </div>
  </div>
</div>
